.leaflet-popup-content {
  width: 401px !important;
}

div.main-container {
  max-width: 1200px !important;
}

body {
font-size: 16px;
  color: #606c71;
  text-align: justify}


h1 {
color: #0A285E; /*#0A285E */
font-weight: bold;
font-style: normal;
font-size: 18px;
text-decoration: underline;
}

h2,h3 { /* Header 2 */
color: #4575b4 ; /*#3EB3B3*/
}

h2 { /* Header 2 */
font-size: 18px;
font-style: normal;
font-weight: bold;
}

h3 {
font-size: 15px;
font-style: normal;
font-weight: normal;
}

h4 {
font-size: 15px;
font-style: italic;
font-weight: normal;
}

blockquote {
  background: #f9f9f9; /*#0E823A*/
  border-left: 8px solid #0E823A;
  margin: 1.5em 10px;
  padding: 0.5em 25px;
  font-size: 13px;
  line-height: 1.6;
}

a {
  color: #0083CB;
  /*font-weight: bold;*/
}

code {
  color: #0083CB;
  font-weight: bold;
}

h1.title {
  font-size: 25px;
  color: #0A285E; /*#0A285E */
  text-decoration: none;  
}